[Unit]
Description=robots node js start

[Service]
Environment=PORT=300
Environment=HOST=0.0.0.0
Type=simple
User=www-data
ExecStart=/usr/bin/npm start
WorkingDirectory=/var/www/html/front
Restart=on-failure

[Install]
WantedBy=multi-user.target
